.col-md-6.col-md-offset-3.panel.panel-default
  .panel-body
    %h2 Editing category

    = render 'form'

    = link_to 'Show', category
    \|
    = link_to 'Back', categories_path, class: 'btn btn-primary'