%h1 Editing product

= render 'form'

= link_to 'Show', category_product_path(category, product)
\|
= link_to 'Back', category_product_back_path(category, product), method: :post, data: { confirm: 'Are you sure? Your changes are not to be saved.' }
